/* google fonts 'Poppins' */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

/* global */
body {
    font-family: 'Poppins', sans-serif;
}


/* section */

.tour-section {
    display: flex;
    flex-direction: row;
    gap: 2rem;
    padding: 1rem;
}

/* content */

.tour-read-more {
    text-decoration: none;
    border: 2px solid blue;
    color: blue;
    padding: 0 3rem;

    &:hover {
        background: blue;
        color: white;
    }

    /* card container */
    .tour-card-container {
        display: flex;
        flex-direction: column;
    }

    /* media for small screen size */

    @media all and (min-width: 520px) {

        /* section */
        body .tour-section {
            flex-direction: row;
        }

        /* content */
         .tour-content-container {
            border: 2px solid red;
            padding: 2rem;
            padding-inline-start: 4rem;

            .tour-title {
                color: blue;
                font-size: 3rem;
            }

            .tour-text {
                width: 75%;
                padding-block-end: 2rem;
            }
        }
    }

    /* cards container */
    .tour-section .tour-card-container {
        border: 2px solid pink;
        gap: 1rem;
        flex-direction: row;
        padding: 1.5rem;
        padding-block: 1rem;

        /* content */
        .tour-card-content {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            .tour-card-date {
                font-weight: lighter;
            }

            .card-read-more a {
                text-decoration: none;
            }
        }
    }
}