@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

/* section */

.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    background: blue;
    padding-block-start: 5rem;
}

/* image */

.img {
    display: block;
    max-width: 100%;
}

/* text */

.about-text {
    font-size: 1.5rem;
    ;
    color: white;
    padding-inline: 1rem;
    padding-block-start: 2rem;
}

/* email link */
.about-email-link {
    text-decoration: none;
    color: white;
    border-bottom: 1px solid white;
    font-size: 1rem;
    margin-block: 2rem;
}

/* media large for screen */

@media all and (min-width: 768px) {
    .about-text {
        font-size: 2.5rem;
        padding-inline: 5rem;
    }

    .about-email-link {
        font-size: 1.5rem;

    }
}