/* Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
    font-family: 'Poppins', sans-serif;
    background: #C2C0BE;
}

* {
    margin: 0;
    padding: 0;
}

:root {
    -ff-primary: 'Poppins', sans-serif;
    --bg-clr: #eef0fc;
    --t-bg-clr: #2e34fc;
    --primary-clr: #2e34fc;
}

/* header */

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-inline: 3rem;
    padding-block: 1.5rem;
    border-bottom: 1px solid #2e34fc;

    .logo {
        font-size: 2rem;
        font-weight: lighter;
        cursor: pointer;
        font-family: "Cormorant", serif;
        color: var(--primary-clr);
    }
}

/* nav */

nav {
    padding: 1rem;

    .nav-toggle {
        display: none;
    }

    .nav-toggle-label {
        position: absolute;
        top: 0;
        left: 1;
        margin-top: 1em;
        margin-left: 1em;
        height: 10%;
        display: flex;
        align-items: center;
        padding-block-end: 1rem;
    }

    .nav-toggle-label span,
    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        display: block;
        align-content: baseline;
        background: var(--primary-clr);
        height: 2px;
        width: 2em;
        border-radius: 2px;
        position: relative;

    }

    .nav-toggle-label span::before,
    .nav-toggle-label span::after {
        content: "";
        position: absolute;
    }

    .nav-toggle-label span::before {
        bottom: 7px;
    }

    .nav-toggle-label span::after {
        top: 7px;
    }
}

/* nav links */

.nav-links {
    display: flex;
    flex-direction: column;
    gap: 0.5em;
    padding: 0.5em;
    margin-block-start: 2.5rem;
    background-color: #f5f5f5;

    width: 100%;
    position: absolute;

    text-align: start;
    left: 0;
    list-style: none;

    transform: scale(1, 0);
    transform-origin: top;
    transition: transform 400ms ease-in-out;

    .link a {
        padding: 0.1em;
        color: black;
        text-decoration: none;

        &:hover {
            border-bottom: 1px solid black;
        }
    }
}

.nav-toggle:checked~.nav-links {
    transform: scale(1, 1);
}

.nav-toggle:checked~.nav-links .link {
    opacity: 1;
    transition: opacity 250ms ease-in-out 250ms;
}

nav ul {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: baseline;
    gap: 0.5rem;
    list-style: none;
    cursor: pointer;
    font-size: large;
    font-family: "Poppins", sans-serif;
}

/* social icon */

.social-icons {
    display: none;
}

@media all and (min-width: 768px) {
    /*  */

    header {
        all: unset;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px solid #2e34fc;
        padding-inline: 3rem;
        padding-block: 1.5rem;
    }

    nav .nav-toggle-label {
        display: none;
    }

    .nav-links {
        all: unset;
        list-style: none;
        display: flex;
        gap: 1.5rem;

        .link a {
            text-decoration: none;
            font-size: large;
            font-family: "Poppins", sans-serif;
            color: var(--primary-clr);
        }
    }

    .social-icons {
        display: block;
        padding-inline: 0.5rem;
    }

    .social-icons ul {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        justify-content: center;
        align-items: baseline;
        gap: 1.5rem;
        list-style: none;
        font-size: large;
        cursor: pointer;
    }

    .logo {
        position: relative;
        right: 2rem;
    }

    .logo span {
        font-family: "Cormorant", serif;
        font-size: xx-large;
    }
}

/* tour cards */

.tour-card {
    grid-template-columns: 1fr;
    padding: 1rem;
}

.tour-card-image-container img {
    display: block;
    max-width: 100%;
}

.tour-card-content {
    padding-block-start: 0.5rem;
    padding-inline: 1rem;

    .heading-link {
        text-decoration: none;
        color: var(--primary-clr);
    }

    .tour-card-read-more {
        text-decoration: none;
        color: var(--primary-clr);
        border-bottom: 1px solid #2e34fc;
    }

}

@media all and (min-width: 700px) {

    .tour-cards-container {
        padding: .5rem;
    }

    .tour-cards-container > .row-reverse {
        .tour-card-image-container {
            order: 1;
        }
        .tour-card-content {
            order: -1;
        }
    }

    .tour-card {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding-block-end: 5rem;

        .tour-card-content {
            display: flex;
            flex-direction: column;
            align-items: start;
            justify-content: center;
            gap: 1rem;
            padding-inline-start: 2rem;
        }

        .tour-card-content p {
            font-size: 1rem;
        }

        .heading-link {
            display: flex;
            justify-content: start;
            text-decoration: none;
            cursor: pointer;
            width: 75%;

        }

        .heading-link h2 {
            font-size: 4rem;
            line-height: 6rem;
        }

        .tour-card-content .tour-card-read-more {
            text-decoration: none;
            padding: .1rem;
            border-bottom: 1px solid #2e34fc;
            font-size: 1rem;
            color: var(--primary-clr);
        }
    }

}